.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

body{
background-color: #282c34;
  flex: 1;
}

.Footer {
  background-color: #282c34;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: small;
  color: white;
  padding: 1rem;
}

.App-link {
  color: white;
}

